{% load static %}
<!-- highlight.js -->
<link rel="stylesheet" href="{% static 'js/quill/highlight/styles/base16/darcula.min.css ' %}">
<script src="{% static 'js/quill/highlight/highlight.min.js' %}"></script>

<!-- Quill.js -->
<link href="{% static 'js/quill/node_modules/quill/dist/base64/quill.snow.css' %}" rel="stylesheet">
<script src="{% static 'js/quill/node_modules/quill/quill.min.js' %}"></script>

<!-- quill-image-compress -->
<script src="{% static 'js/quill/node_modules/quill-image-compress/dist/quill.imageCompressor.min.js' %}"></script>

<!-- quill-resize -->
<script src="{% static 'js/quill/node_modules/quill-resize-module/dist/resize.js' %}"></script>

<!-- Custom -->
<link rel="stylesheet" href="{% static 'django_quill/django_quill.css' %}">
<script src="{% static 'django_quill/django_quill.js' %}"></script>