{% extends "_base.html" %}
{% load static %}
{% load jalali_tags %}
{% load blog_tags %}


{% block title %}جزئیات{% endblock title %}

{% block extra_head %}

{{ form.media }}
{% endblock extra_head %}

{% block content %}


<div id="post-{{ post.generate_html_id }}">
    <div class="post">
        <h1>{{ post.title }}</h1>
        <!-- date ================================================================================ -->
        <p><b>تاریخ انتشار:&nbsp;&nbsp;</b>
            {{ post.publish | to_jalali:"%Y/%m/%d _ %H:%M" | farsi_num }}
        </p>

        <!-- authors ================================================================================ -->
        <p><b>نویسنده/نویسندگان:&nbsp;</b>
            {% for author in post.authors.all %}
            <b>{{ author.first_name | default:author.username }}</b>{% if not forloop.last %}<b>،&nbsp;</b>{% endif %}
            {% endfor %}
        </p>

        <!-- body ================================================================================ -->
        <p class="just">
            {{ post.body | safe }}
        </p>
    </div>

    <!-- post share link  ================================================================================ -->
    <p><b><a href="{% url 'blog:post_share' post.slug %}">اشتراک گذاری</a>&nbsp;&nbsp;&larr;</b></p>

    <!-- tags ================================================================================ -->
    <p><b>تگ:</b>&nbsp;&nbsp;
        {% with post.tags.all as tags %}
        {% for tag in tags %}
        <strong><a href="{% url 'blog:posts_by_tag' tag.slug %}">{{ tag }}</a></strong>&nbsp;&nbsp;
        {% endfor %}
        {% endwith %}
    </p>
    <!-- liked, seen, archived -->
    <div class="post-footer">
        <!-- like section -->
        <span class="like-container">
            {% with users_liked=post.users_like.all %}
            <!-- will use below anchor tag to send information related to like and unlike the post -->
            <a href="#" data-id="{{ post.id }}" data-action="{% if request.user in users_liked %}un{% endif %}like"
                data-url="{% url 'blog:like_archive' %}" data-limg='{% static "blog_photo/like.png" %}'
                data-unlimg="{% static 'blog_photo/unlike.png' %}" class="like">

                {% if user in users_liked %}
                <img src="{% static 'blog_photo/like.png' %}" alt="like" width="20">
                {% else %}
                <img src="{% static 'blog_photo/unlike.png' %}" alt="unlike" width="20">
                {% endif %}

            </a>
            <span class="total">{{ users_liked.count }}</span>
            {% endwith %}
        </span>&nbsp;&nbsp;

        <!-- archive section -->
        {% include 'bases/archive.html' with post=post %}

        <!-- views count -->
        {% include "bases/view_count.html" with views_count=views_count %}
    </div>

    {% if request.user.is_staff and request.user in post.authors.all %}
    <div id="staff-actions">
        <p><button class="action delete" data-id="{{ post.id }}"
                data-targetid="{{ post.generate_html_id }}">حذف</button></p>
        <p><a href="{% url 'blog:post_edit' id=post.id %}">ویرایش</a></p>
    </div>
    {% endif %}

    <div>

    </div>
    <!-- comments ================================================================================ -->
    <div class="comments">
        {% with post.comments.all as comments %}
        <h2>نظرات:</h2>
        <p>تعداد نظرات ثبت شده:&nbsp;&nbsp;<strong>{{ comments.count }}&nbsp;نظر</strong></p>
        {% for comment in comments %}
        <dl>
            <dt>توسط&nbsp;<strong>{{ comment.author }}</strong>&nbsp; در تاریخ&nbsp;&nbsp;
                {{ comment.created | to_jalali:"%Y/%m/%d _ %H:%M" |farsi_num }}
            </dt>
            <dd>
                {{ comment.text }}
            </dd>
        </dl>
        {% empty %}
        <p>فعلا نظری ثبت نشده!</p>
        {% endfor %}

        <!-- comment form ===============================================================================  -->
        <div>
            <h2>ثبت نظر:</h2>
            {% if comments %}
            <p>با ثبت نظر در خصوص این مطلب ما را در بهبود کیفت مطالب یاری کنید.</p>
            {% else %}
            <p>اولین نظر را شما ثبت کنید.</p>
            {% endif %}

            {% include 'bases/comment_form.html' with form=form post_slug=post.slug %}
        </div>


        {% endwith %}
    </div>

</div>

<div id="confirmation">
    <!-- we will show confirmation message  to staff to  ensure about deletion of post -->
    <span>x</span>
    <p><strong></strong></p>
    <button id="confirm">Yes</button>

</div>

{% endblock content %}



{% block script %}
<script src="{% static 'js/delete_post.js' %}"></script>
{% endblock script %}